*{
    box-sizing: border-box;
    
  }
  body{
    background-color: #171010;
    color: #ddd;
    font-size: 1.2rem;
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  
  main{
    max-width: 360px;
    margin: 30px auto;
  }
  h1{
    text-align: center;
    color: #fff;
    margin: 0;
  }
  form{
    width: 100%;
  }
  form input{
    width: 100%;
    background-color: transparent;
    color: #ddd;
    border: 2px solid #30313d;
    padding: 2px 5px;
    border-radius: 5px;
  }
  form input[input="datetime-local"]{
    color: #777;
  }
  form div.basic{
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
  }
  form button{
    width: 100%;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: #ddd;
    cursor: pointer;
  }
  
  div.transactions{
    margin-top: 10px;
  }
  div.transaction{
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    border-top: 1px solid #30313d;
  }
  div.transaction:first-child{
    border-top: 0;
  }
  div.transaction div.amount{
    font-size: 1rem;
  }
  div.transaction div.selectedPayment{
    font-size: 0.7rem;
    color: #888;
  }
  div.price.green{
    color: #1c1;
  }
  div.price.red{
    color: #c11;
  }
  /* .price-red {
    color: red;
  }
  
  .price-green {
    color: green;
  } */
  
  div.transaction div.datetime{
    font-size: 0.7rem;
    color: #888;
  }

  .Pmethods {
    /* border-radius: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem; */
    width: 100%;
    margin-top: 5px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
    background-color: #ddd;
  }
  .Pmethods, input[type="datetime-local"] {
    background-color: #fff;
    color: #30313d;
    width: 50%; 
    margin: 5px;
    border: 0;
    border-radius: 5px;
    padding: 5px;
 
}

  .basic .add{
    color: #1c1;
  }
  .basic .sub{
    color: rgb(211, 18, 41);
  }

  .payment{
    display: flex;
    font-size: 0.9rem;
  }
  

  .add{
    color: rgb(28, 188, 28);

  }

  .sub{
    color: rgb(246, 79, 79);
  }